* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}
a {
  text-decoration: none;
}

/* Splash screen styles */

  .splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(21.06deg, #F5527F -131.6%, #303238 67.16%);
    font-size: 18px;
  }
.splash__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
top: 25vh;
}

  .splash__logo {
    width: 500px;
  }

  .splash__text {
    color: #A9A3A5;
    font-size: 40px;
    margin-top: 36px;
    width: 630px;
    text-align: center;
  }

  .splash__button {
    border: 14px solid #F5527F;
    box-sizing: border-box;
    border-radius: 70px;
    width: 153px;
    height: 64px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.04em;
    padding: 60px 150px;
  }
  .align__button {
    /* display: flex; */
    position: absolute;
    bottom: 12vh;
  }
  
/* Map screen styles */
.app {
  width: 100%;
  background: #303338;
}
.map-screen__navigation {
  width: 100%;
  height: 9vh;
  position: fixed;
  bottom: 0;
  background: #303338;
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.navigation__content {
  width: 70%;
  height: 65%;
  /* background: pink; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: absolute;
  bottom: 0;
}
.navigation__icon {
  width: 80px;
  height: 80px;
  opacity: .4;
}
.navigation__active-link {
  opacity: 1;
}
.navigation__active:before{
  content: "";
  position: absolute;
  height: 15px;
  width: 90px;
  background: #fff;
  bottom: -4px;
  box-shadow: 0px -6px 15px #F5527F;
}

.items__content {
  width: 88%;
  margin: 7vh auto;
}
h1 {
  color: #fff;
  font-size: 70px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.map__button {
  margin-left: 30px;
}

  .map-marker {
    background-image: url('https://png2.cleanpng.com/sh/19abc0836b63f56e882e65a2a43855da/L0KzQYm3VMAzN5x3iZH0aYP2gLBuTgJmbF59Rd5udITogn7qjB1xfaVqip9yY3Bxg375hfQugF46edU7ZnK6RbO4WPE0QV83TKM9MkG4RIK8UsI4Omg8UakCMke1PsH1h5==/kisspng-red-x-letter-computer-icons-red-x-5ac2fb75b18a39.2414215415227277977272.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }



  .app-body__map {
    height: 70vh;
    width: 95%;
    margin: auto;
    border-radius: 60px;
  }



  /* products page */
.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5vh;
}
.product {
  width: 45%;
  height: 30vh;
  background: #2A2D32;
  margin: 20px;
  border-radius: 50px;
}